{% extends 'room_base.html' %}


{% comment  %} ------ Статус комнат ------ {% endcomment %}
{% block r_status %} {{ triple.status }} {% endblock %}

{% comment  %} ------ Стоимость комнат ------ {% endcomment %}
{% block r_amount %} {{ triple.decimail }} {% endblock %}

{% comment  %} ------ Картинки комнат ------ {% endcomment %}
{% block r_img1 %} <img class="active" src="{{triple.image1.url}}" alt="Image 1"> {% endblock %}
{% block r_img2 %} <img src="{{triple.image2.url}}" alt="Image 2"> {% endblock %}
{% block r_img3 %} <img src="{{triple.image3.url}}" alt="Image 3"> {% endblock %}
{% block r_img4 %} <img src="{{triple.image4.url}}" alt="Image 4"> {% endblock %}
{% block r_img5 %} <img src="{{triple.image1.url}}" alt="Image 4"> {% endblock %}

{% comment  %} ------ Описание комнат ------ {% endcomment %}
{% block r_description %} {{ triple.description|linebreaksbr }} {% endblock %}
