{% extends 'room_base.html' %}


{% comment  %} ------ Статус комнат ------ {% endcomment %}
{% block r_status %} {{ quadruple.status }} {% endblock %}

{% comment  %} ------ Стоимость комнат ------ {% endcomment %}
{% block r_amount %} {{ quadruple.decimail }} {% endblock %}

{% comment  %} ------ Картинки комнат ------ {% endcomment %}
{% block r_img1 %} <img class="active" src="{{quadruple.image1.url}}" alt="Image 1"> {% endblock %}
{% block r_img2 %} <img src="{{quadruple.image2.url}}" alt="Image 2"> {% endblock %}
{% block r_img3 %} <img src="{{quadruple.image3.url}}" alt="Image 3"> {% endblock %}
{% comment %} {% block r_img4 %} <img src="{{quadruple.image4.url}}" alt="Image 4"> {% endblock %} {% endcomment %}
{% block r_img4 %} <img src="{{quadruple.image1.url}}" alt="Image 4"> {% endblock %}

{% comment  %} ------ Описание комнат ------ {% endcomment %}
{% block r_description %} {{ quadruple.description|linebreaksbr }} {% endblock %}
