{% extends 'room_base.html' %}


{% comment  %} ------ Статус комнат ------ {% endcomment %}
{% block r_status %} {{ deluxe.status }} {% endblock %}

{% comment  %} ------ Стоимость комнат ------ {% endcomment %}
{% block r_amount %} {{ deluxe.decimail }} {% endblock %}

{% comment  %} ------ Картинки комнат ------ {% endcomment %}
{% block r_img1 %} <img class="active" src="{{deluxe.image1.url}}" alt="Image 1"> {% endblock %}
{% block r_img2 %} <img src="{{deluxe.image2.url}}" alt="Image 2"> {% endblock %}
{% block r_img3 %} <img src="{{deluxe.image3.url}}" alt="Image 3"> {% endblock %}
{% block r_img4 %} <img src="{{deluxe.image4.url}}" alt="Image 4"> {% endblock %}
{% block r_img5 %} <img src="{{deluxe.image1.url}}" alt="Image 5"> {% endblock %}

{% comment  %} ------ Описание комнат ------ {% endcomment %}
{% block r_description %} {{ deluxe.description|linebreaksbr }} {% endblock %}
